ul {
  list-style-type: none;
}

.header {
  background-image: url(../images/background.jpg);
  width: 1920px;
  height: 900px;
}

.header-links {
  color: white;
}

.link {
  color: currentColor;
}

.it-studio {
  color: white;
}

.it-studio-text {
  color: white;
}

.btn-projects {
  color: white;
}

.section-title {
  color: #323232;
}

.section-text {
  color: #999999;
}
