/**
  |============================
  | Variables
  |============================
*/
:root {
  /* Fonts */
  --primary-font: "Montserrat", sans-serif;
  /* Colors */
  --main-cl: #111111;
  --main-cl-60: rgba(17, 17, 17, 0.6);
  --main-cl-70: rgba(17, 17, 17, 0.7);
  --accent-cl: #fd9222;
  --violet-cl: #1e1823;
  --beige-cl: #fcf1e0;
  --light-cl: #fafafa;
  --gray-cl: #4c4c4c;
  --white-cl: #ffffff;
  --white-cl-70: rgba(255, 255, 255, 0.7);
}

/**
  |============================
  | Base styles
  |============================
*/
/* reset start */
body {
  font-family: var(--primary-font);
  color: var(--main-cl);
  background-color: var(--light-cl);
}
button {
  font-family: inherit;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* reset end */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | Components styles
  |============================
*/

.container {
  width: 100%;
  max-width: 335px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-cl);
}
.title-accent {
  color: var(--accent-cl);
}
.subtitle {
}
.btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--white-cl);
  background-color: var(--accent-cl);
}
.btn:hover,
.btn:focus {
  color: #fd9222;
  background-color: var(--beige-cl);
}
.btn-primary {
  background-color: transparent;
}
.btn-primary:hover,
.btn-primary:focus {
  color: var(--accent-cl);
  background-color: transparent;
}
.btn-secondary {
  font-size: 18px;
  color: var(--main-cl);
  background-color: transparent;
}
.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--white-cl);
  background-color: var(--accent-cl);
}
/* Navigation */
.navigation {
}
.navigation-menu {
}
.navigation-item {
}
.navigation-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-cl);
}
.navigation-link.light {
  color: var(--white-cl);
}
.navigation-link.dark {
  color: var(--main-cl);
}
/* Socials */
.socials {
}
.socials-caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;

  color: var(--white-cl);
}
.socials-list {
}
.socials-item {
}
.socials-link {
  color: var(--white-cl);
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
  padding-top: 20px;
  padding-bottom: 14px;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.header-navigation {
}

.header-logo {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-right: 4px;
  display: flex;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-btn {
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.header-menu-icon {
  stroke: var(--main-cl);
}

.header-socials {
}
/**
  |============================
  | Hero styles
  |============================
*/
.hero {
  padding-bottom: 79px;
}

.hero-wrap {
  background-color: var(--main-cl-60);
  background-image: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0),
      rgba(17, 17, 17, 1)
    ),
    url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  padding: 395px 16px 21px 20px;
}

.hero-title {
  color: var(--white-cl);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  max-width: 299px;
  margin-bottom: 32px;
}
.hero-buy-btn {
  color: var(--white-cl);
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 16px;
  border: none;
  border-radius: 100px;
  background: var(--accent-cl);
  margin-right: 14px;
  margin-bottom: 32px;
  transition: color ease-in-out 0.5s, background-color ease-in-out 0.5s;
}

.hero-buy-btn:hover,
.hero-buy-btn:focus {
  color: var(--accent-cl);
  background-color: var(--beige-cl);
}

.hero-link-btn {
  display: inline-block;
  color: var(--white-cl);
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid var(--white-cl);
  padding: 12px 16px;
  transition: color ease-in-out 0.5s, border ease-in-out 0.5s;
}

.hero-link-btn:hover,
.hero-link-btn:focus {
  color: var(--accent-cl);
  border: 1px solid var(--accent-cl);
}

.hero-scroll-link {
  color: var(--white-cl);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  transition: color ease-in-out 0.5s;
}

.hero-scroll-link:hover,
.hero-scroll-link:focus {
  color: var(--accent-cl);
}

.hero-scroll-btn {
  background-color: var(--white-cl);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  border: none;
  transition: background-color ease-in-out 0.5s;
}

.hero-scroll-btn:hover,
.hero-scroll-btn:focus {
  background-color: var(--accent-cl);
}

.hero-scroll-icon {
  fill: var(--accent-cl);
  transition: fill ease-in-out 0.5s;
}

.hero-scroll-btn:hover .hero-scroll-icon,
.hero-scroll-btn:focus .hero-scroll-icon {
  fill: var(--white-cl);
}

/**
  |============================
  | Advantages styles
  |============================
*/
.advantages {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--violet-cl);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
}

.advantages-list-item {
}

.advantages-icon-wrap {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}

.advantages-icon {
  fill: var(--accent-cl);
}

.advantages-list-title {
  color: var(--white-cl);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}

.advantages-list-text {
  color: var(--white-cl-70);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
}
